.fav-container {
	height: 100vh;
	text-align: center;
	background-color: #fff1e9;

	h2 {
		color:  #fc7fb2;
		opacity: 80%;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		padding: 30px;
	}

	h3 {
		transition: .3s;
		-webkit-transform: scale(1);
		transform: scale(1);
	  
		&:hover { 
			-webkit-transform: scale(1.1);
			transform: scale(1.1);		  
			color:  #fc7fb2;
			opacity: 60%;
			border: none;
		}

	}

	p {
		color: gray;
	}
}

.fav-section {
    display: flex;
	padding: 50px 20px 0 20px;
	flex-direction: column;
	text-align: center;
}

.fav { 
    flex: 1;
	margin-bottom: 30px;
	padding: 0 20px 20px 0;
	color: gray;
	cursor: pointer;


    .fav-name, .fav-history, .fav-reason { 
		margin: 0; 
	}

	.fav-type {
		text-decoration: underline;
	}

	img {
		width: 150px;
		border-radius: 50%;
		cursor: pointer;

		&:hover { 
			opacity: 60%;
			border: none;
		}
	
	}
}
#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 300px;
	height: 450px;
	display: none;

	.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img {
		max-width: 70%;
		padding: 10px;
		border-radius: 50%;
	}
}
