.fav-container {
	height: 100vh;
	text-align: center;
	background-color: #fff1e9;

	h2 {
		color:  #fc7fb2;
		font-size: 40px;
		opacity: 80%;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		padding: 30px;
	}

	p {
		color: gray;
	}
}

.fav-section {
    display: flex;
	padding: 50px 20px 0 20px;
	flex-direction: column;
	text-align: center;
}

.fav { 
    flex: 1;
	margin-bottom: 30px;
	padding: 0 20px 20px 0;
	color: gray;
	cursor: pointer;

    &:hover { 
        opacity: 60%;
        border: none;
        color: #fc7fb2;
    }

    .fav-name, .fav-type, .fav-history, .fav-reason { 
		margin: 0; 
	}

	img {
		width: 150px;
		border-radius: 50%;
		cursor: pointer;
	}

}
