.favourite-section {
    display: flex;
    width: 980px;
	padding: 20px 20px 0 20px;
	flex-direction: row;
	justify-content: flex-start;
}

.favourite { 
    flex: 1;
    width: 470px;
	border-right: solid 1px #ccc;
	margin-bottom: 30px;
	padding: 0 20px 20px 0;


    .favourite-name, .favourite-type, .favourite-history, .favourite-reason { margin: 0; }

}
