* {
	margin: 0;
	padding: 0;
}

body {
    font: $main-font;
    font-size: $main-font-size;
    background-color: $main-bg-color;

    margin: 0; 
    border: 0;
}

.hidden { display: none; }


h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 50px;
	line-height: 70px;
    color: white;
	text-align: center;
}

h2 {
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin: 10px;
	color: #fc7fb2;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #fc7fb2;
	opacity: 70%;
	margin: 10px 0 5px 0;
}

p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 2px;
}

.container {
	margin: 0 auto;
	width: 480px;
	text-align: center;
	color: gray;
}
