body {
    font: $main-font;
    font-size: $main-font-size;

    background-color: $main-bg-color;

    margin: 0; 
    border: 0;
}


h1 {
	font-size: 34px;
	line-height: 45px;
	letter-spacing: 1px;
	opacity: 80%;
	color: white;
	border-radius: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

p {
	line-height: 24px;
	margin-bottom: 2px;
}

a:link, a:visited { 
	color: white;
 	text-decoration: blink; 
 	font-weight: bold;
 	padding: 5px;
}

a:hover, a:active { 
	color: white;
	text-decoration: blink; 
	font-weight: bold;
	padding: 5px;
}


.hidden {
	display: none;
}

.box {
    background-color: #ffd5d5;
	color: #45454d;
	text-align: center;
	margin: 20px;
}

.container {
	margin: 0 auto;
	width: 480px;
	background-color: white;
}