body {
    font: $main-font;
    font-size: $main-font-size;

    background-color: $main-bg-color;

    margin: 0; 
    border: 0;
}

.box {
    width: 30px;
    height: 30px;
    background-color: #ffd5d5;

}

.box2 { 
    width: 30px;
    height: 30px;

}